<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front Page</title>
    <style>
        p{
            font-size: 30px;
        }
    </style>
</head>

<body>
    <h1>This is the front page (we can use this page as landing page of an app)</h1><br>
    <p>Login page route = <a href="/login">/login</a></p>
    <p>Login page route = <a href="/signUp">/signUp</a></p>
</body>

</html>